body {
    margin: 0;
    font-family: rubik, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.selection-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background-color: lightgray;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    gap: 5px;
    font-size: 1rem;
    text-transform: uppercase;
}

.selection-area > *:not(input) {
    /* margin: 0 10px; */
    padding: 8px;
}

.canvas-container {
    background-color: rgba(25, 173, 223, 0.692);
    margin: 0 15px;
    min-width: 150px;
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/* Font Faces */

@font-face {
    font-family: rubik;
    src: url('/fonts/Rubik-Medium.ttf');
}

/******************* Media *******************/

/* Tablet */
@media (max-width: 715px) {
    html {
        font-size: 10px;
    }
}

/* Mobile */
@media (max-width: 560px) {
    html {
        font-size: 8px;
    }
    body {
        height: 85vh;
    }
}
